.insta-post {
  margin-bottom: 15px;
}




.post-meta {
  background: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #999;


  img {
    margin-right: 10px;
  }
}

.post-details {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}

.post-actions {
  margin-bottom: 20px;

  i {
    margin-right: 10px;
    color: #ddd;
    cursor: pointer;
  }

  i:hover {
    color: #999;
  }

  i.active {
    color: red;
  }
}

.comment-box {
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}

.post-comment {
  box-shadow: none !important;
}

.btn-custom {
  background: transparent;
  border: 2px solid #ddd !important;
  border-radius: 4px !important;
}

.comments-feed {
  height: 300px;
  overflow: scroll;
}

.post-details .post-actions {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
}