// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  padding: 12px 16px !important;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}