<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-4">
  <div class="container">
    <a class="navbar-brand" href="#">Insta Clone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <% if account_signed_in? %>
        <%= render 'layouts/account_nav' %>
      <% else %>
        <%= render 'layouts/public_nav' %>
      <% end %>
    </div>
  </div>
</nav>